{% extends 'layout' %}
{% block content %}
    <main>
        <section id="shop-page">
            <h2>Shop</h2>
            <div class="product-grid">
                <!-- Add your products here -->
            </div>
        </section>
    </main>
{% endblock %}
