{% extends 'layout' %}
{% block content %}
    <main>
        <section id="about-us-page">
            <h2>About Us</h2>
            <p>
                <!-- Add your About Us content here -->
            </p>
        </section>
    </main>
{% endblock %}
